@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
    --poppins: 'Poppins', sans-serif;
  }

.navbar_css{
    font-family: var(--poppins);
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-width{
    width: 90%;
}

.nav-link{
    color: white;
    font-size: 20px;
    margin-left: 50px;
}
   