.number_card_container {
  background-color: var(--white);
}

.number-title {
  color: #0172b6;
}

.number-card:hover {
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}

.number-card:hover{
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
}

@media only screen and (max-width: 992px){

    .number-card-div{
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        margin-top: 5%;
    }

    .number-card{
        margin-top: 5%;
    }
}
